#site-title {
    color: rgb(189, 133, 242);
}

body {
    height: calc(100vh - 125px);
    background-color: rgb(101, 133, 133);
}

header {
    height: 75px;
    border-style: double;
    border-width: 20px;
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
    background-color: rgb(59, 63, 72);
}

h1 {
    color: rgb(217, 242, 240);
}

main {
    border: solid;
}

#class-intro {
    margin: auto;
    display: inline;
    width: 80%;
}

img {
    border: double 15px;
    margin-top: 10px;
    margin-right: 100px;
    margin-left: 50px; 
    height: 308px;
    width: 225px;
    float: left; 

 }

p {
    margin-top: 120px;
    margin-left: 250px;  
    margin-right: 250px;
    border: 5px solid;
    padding: 20px;
    background-color: rgb(136, 174, 176);
}

#unordered {
    margin-left: 350px;
    margin-right: 350px;
    border: solid 15px;
}

#ordered {
    border: dotted;
    margin-top: 10px;
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 10px;
}

footer {
    height: 50px;
    background-color: rgb(143, 165, 167);
    border-style: solid;
}